Repository klever-io/kos-rs, pull requests merged in 2024-08, with the labels that each got.

#52 clear erros and warns from cargo tools
  Cargo.lock
  deny.toml
  packages/kos-sdk/src/chains/bitcoin/transaction.rs
  packages/kos-sdk/src/chains/ethereum/mod.rs
  packages/kos-types/Cargo.toml
Labels: rust, @domain/types, configuration, @domain/sdk

#53 Generate binds to Android and iOS
  .github/workflows/publish-android.yaml
  .github/workflows/publish-ios.yaml
  Cargo.lock
  Cargo.toml
  Makefile
  packages/kos-mobile/Cargo.toml
  packages/kos-mobile/android/.gitignore
  packages/kos-mobile/android/build.gradle.kts
  packages/kos-mobile/android/gradle.properties
  packages/kos-mobile/android/gradle/libs.versions.toml
  packages/kos-mobile/android/gradle/wrapper/gradle-wrapper.jar
  packages/kos-mobile/android/gradle/wrapper/gradle-wrapper.properties
  packages/kos-mobile/android/gradlew
  packages/kos-mobile/android/gradlew.bat
  packages/kos-mobile/android/lib/build.gradle.kts
  packages/kos-mobile/android/lib/src/main/AndroidManifest.xml
  packages/kos-mobile/android/lib/src/test/kotlin/uniffi/kos_mobile/KOSTest.kt
  packages/kos-mobile/android/settings.gradle.kts
  packages/kos-mobile/build_android.sh
  packages/kos-mobile/build_clean.sh
  packages/kos-mobile/build_ios.sh
  packages/kos-mobile/build_source.sh
  packages/kos-mobile/ios/.gitignore
  packages/kos-mobile/ios/framework/.gitignore
  packages/kos-mobile/ios/framework/KOSMobile/KOSMobile.xcodeproj/project.pbxproj
  packages/kos-mobile/ios/framework/KOSMobile/KOSMobile.xcodeproj/xcshareddata/xcschemes/KOSMobile.xcscheme
  packages/kos-mobile/ios/framework/KOSMobile/KOSMobile/KOSMobile.h
  packages/kos-mobile/ios/framework/KOSMobile/KOSMobileTests/KOSMobileTests.swift
  packages/kos-mobile/src/bin/uniffi-bindgen.rs
  packages/kos-mobile/src/lib.rs
  packages/kos-sdk/Cargo.toml
  packages/kos-sdk/src/chain.rs
Labels: rust, configuration, @domain/sdk

#50 Update README.md
  README.md
Labels: documentation

#57 Fix/ci pull master release
  .github/workflows/pull-develop.yaml
  .github/workflows/pull-master-release.yaml
  demo/package.json
Labels: configuration

#59 [promote] New version with mobile bindings
  .github/workflows/publish-ios.yaml
  .github/workflows/pull-develop.yaml
  .github/workflows/pull-master-release.yaml
  demo/package.json
Labels: configuration
