Repository klever-io/kos-rs, pull requests merged in 2025-04, with the labels that each got.

#121 Feat/cardano
  README.md
  deny.toml
  packages/kos-codec/Cargo.toml
  packages/kos-codec/src/chains/ada/mod.rs
  packages/kos-codec/src/chains/ada/models.rs
  packages/kos-codec/src/lib.rs
  packages/kos/src/chains/ada/mod.rs
  packages/kos/src/chains/mod.rs
Labels: documentation, rust, configuration

#129 Feat/aptos
  Cargo.lock
  README.md
  packages/kos-codec/Cargo.toml
  packages/kos-codec/src/chains/apt/mod.rs
  packages/kos-codec/src/chains/apt/models.rs
  packages/kos-codec/src/chains/mod.rs
  packages/kos-codec/src/lib.rs
  packages/kos/src/chains/apt/mod.rs
  packages/kos/src/chains/btc/mod.rs
  packages/kos/src/chains/eth/mod.rs
  packages/kos/src/chains/mod.rs
Labels: documentation, rust, configuration

#130 add sig tx and sig message to bch
  Cargo.lock
  README.md
  packages/kos-codec/Cargo.toml
  packages/kos-codec/src/chains/bch/mod.rs
  packages/kos-codec/src/chains/bch/sig_hash.rs
  packages/kos-codec/src/chains/mod.rs
  packages/kos-codec/src/lib.rs
  packages/kos-mobile/src/lib.rs
  packages/kos/src/chains/bch/mod.rs
  packages/kos/src/chains/mod.rs
Labels: documentation, rust, configuration

#131 Bump kos version
  Cargo.lock
  Cargo.toml
Labels: configuration

#133 add support for Karura (KAR) and Acala (ACA) chains
  README.md
  packages/kos/src/chains/constants.rs
  packages/kos/src/chains/mod.rs
  packages/kos/src/chains/substrate/mod.rs
Labels: documentation, rust

#132 Promote new version
  Cargo.lock
  Cargo.toml
  README.md
  demo/js/index.js
  deny.toml
  packages/kos-codec/Cargo.toml
  packages/kos-codec/src/chains/ada/mod.rs
  packages/kos-codec/src/chains/ada/models.rs
  packages/kos-codec/src/chains/apt/mod.rs
  packages/kos-codec/src/chains/apt/models.rs
  packages/kos-codec/src/chains/bch/mod.rs
  packages/kos-codec/src/chains/bch/sig_hash.rs
  packages/kos-codec/src/chains/mod.rs
  packages/kos-codec/src/lib.rs
  packages/kos-mobile/src/lib.rs
  packages/kos/src/chains/ada/mod.rs
  packages/kos/src/chains/apt/mod.rs
  packages/kos/src/chains/bch/mod.rs
  packages/kos/src/chains/btc/mod.rs
  packages/kos/src/chains/constants.rs
  packages/kos/src/chains/eth/mod.rs
  packages/kos/src/chains/icp/mod.rs
  packages/kos/src/chains/mod.rs
  packages/kos/src/chains/substrate/mod.rs
Labels: documentation, rust, configuration

#134 Refactor/js demo
  .github/actions/npm-package-version.sh
  .github/workflows/npm-release-dev.yaml
  .github/workflows/pull-master-release.yaml
  .gitignore
  Makefile
  demo/js/index.js
  demo/package.json
  demo/static/index.html
  demo/webpack.config.js
  packages/kos-web/demo/.gitignore
  packages/kos-web/demo/README.md
  packages/kos-web/demo/index.html
  packages/kos-web/demo/package.json
  packages/kos-web/demo/src/components/cryptography-demo.ts
  packages/kos-web/demo/src/components/transaction-signer.ts
  packages/kos-web/demo/src/components/wallet-generator.ts
  packages/kos-web/demo/src/main.ts
  packages/kos-web/demo/src/style.css
  packages/kos-web/demo/src/vite-env.d.ts
  packages/kos-web/demo/tsconfig.json
  packages/kos-web/demo/vite.config.ts
  packages/kos-web/src/lib.rs
Labels: documentation, rust, configuration

#135 Feat/add legacy sig message
  packages/kos-codec/src/chains/ada/mod.rs
  packages/kos-hardware/src/lib.rs
  packages/kos-mobile/src/lib.rs
  packages/kos-web/src/wallet.rs
  packages/kos/src/chains/ada/mod.rs
  packages/kos/src/chains/apt/mod.rs
  packages/kos/src/chains/atom/mod.rs
  packages/kos/src/chains/bch/mod.rs
  packages/kos/src/chains/btc/mod.rs
  packages/kos/src/chains/eth/mod.rs
  packages/kos/src/chains/icp/mod.rs
  packages/kos/src/chains/klv/mod.rs
  packages/kos/src/chains/mod.rs
  packages/kos/src/chains/sol/mod.rs
  packages/kos/src/chains/substrate/mod.rs
  packages/kos/src/chains/sui/mod.rs
  packages/kos/src/chains/trx/mod.rs
  packages/kos/src/chains/xrp/mod.rs
Labels: rust

#138 Promote new version
  .github/actions/npm-package-version.sh
  .github/workflows/npm-release-dev.yaml
  .github/workflows/pull-master-release.yaml
  .gitignore
  Cargo.toml
  Makefile
  demo/js/index.js
  demo/package.json
  demo/static/index.html
  demo/webpack.config.js
  packages/kos-codec/src/chains/ada/mod.rs
  packages/kos-hardware/src/lib.rs
  packages/kos-mobile/src/lib.rs
  packages/kos-web/demo/.gitignore
  packages/kos-web/demo/README.md
  packages/kos-web/demo/index.html
  packages/kos-web/demo/package.json
  packages/kos-web/demo/src/components/cryptography-demo.ts
  packages/kos-web/demo/src/components/transaction-signer.ts
  packages/kos-web/demo/src/components/wallet-generator.ts
  packages/kos-web/demo/src/main.ts
  packages/kos-web/demo/src/style.css
  packages/kos-web/demo/src/vite-env.d.ts
  packages/kos-web/demo/tsconfig.json
  packages/kos-web/demo/vite.config.ts
  packages/kos-web/src/lib.rs
  packages/kos-web/src/wallet.rs
  packages/kos/src/chains/ada/mod.rs
  packages/kos/src/chains/apt/mod.rs
  packages/kos/src/chains/atom/mod.rs
  packages/kos/src/chains/bch/mod.rs
  packages/kos/src/chains/btc/mod.rs
  packages/kos/src/chains/eth/mod.rs
  packages/kos/src/chains/icp/mod.rs
  packages/kos/src/chains/klv/mod.rs
  packages/kos/src/chains/mod.rs
  packages/kos/src/chains/sol/mod.rs
  packages/kos/src/chains/substrate/mod.rs
  packages/kos/src/chains/sui/mod.rs
  packages/kos/src/chains/trx/mod.rs
  packages/kos/src/chains/xrp/mod.rs
Labels: documentation, rust, configuration

#117 Lightning
  .pants-ignore
  Cargo.lock
  Cargo.toml
  deny.toml
  packages/kos-mobile/Cargo.toml
  packages/kos-mobile/build_ios.sh
  packages/kos-mobile/src/lib.rs
  packages/kos-mobile/src/number.rs
  packages/kos-mobile/src/signer.rs
  packages/kos/src/crypto/mnemonic.rs
Labels: rust, configuration

#139 bump version to 0.2.17
  Cargo.toml
Labels: configuration

#140 Promote new version
  .pants-ignore
  Cargo.lock
  Cargo.toml
  deny.toml
  packages/kos-mobile/Cargo.toml
  packages/kos-mobile/build_ios.sh
  packages/kos-mobile/src/lib.rs
  packages/kos-mobile/src/number.rs
  packages/kos-mobile/src/signer.rs
  packages/kos/src/crypto/mnemonic.rs
Labels: rust, configuration

#141 export get path by chain
  Cargo.lock
  packages/kos-mobile/src/lib.rs
  packages/kos-web/src/error.rs
  packages/kos-web/src/lib.rs
Labels: rust

#142 update version 0.2.18
  Cargo.lock
  Cargo.toml
Labels: configuration
