Repository klever-io/kos-rs, pull requests merged in 2025-03, with the labels that each got.

#102 Bump version 0.2.6
  Cargo.lock
  Cargo.toml
  packages/kos/src/chains/ada/address.rs
Labels: rust, configuration

#103 Promote new version
  Cargo.lock
  Cargo.toml
  deny.toml
  packages/kos-mobile/Cargo.toml
  packages/kos-mobile/src/number.rs
  packages/kos/src/chains/ada/address.rs
Labels: rust, configuration

#101 feat/icp
  deny.toml
  packages/kos/src/chains/icp/mod.rs
  packages/kos/src/chains/mod.rs
Labels: rust, configuration

#105 chore: bump version to 0.2.7
  Cargo.lock
  Cargo.toml
Labels: configuration

#106 Promote new version
  Cargo.lock
  Cargo.toml
  deny.toml
  packages/kos/src/chains/icp/mod.rs
  packages/kos/src/chains/mod.rs
  packages/kos/src/chains/substrate/mod.rs
  packages/kos/src/chains/substrate/models.rs
Labels: rust, configuration

#109 Bump version 0.2.9
  Cargo.lock
  Cargo.toml
Labels: configuration

#110 Promote new version
  Cargo.lock
  Cargo.toml
  README.md
  packages/kos/src/chains/btc/mod.rs
  packages/kos/src/chains/mod.rs
Labels: documentation, rust, configuration

#108 add Solana network support for legacy and versioned transactions
  README.md
  packages/kos/src/chains/mod.rs
  packages/kos/src/chains/sol/mod.rs
  packages/kos/src/chains/sol/models.rs
Labels: documentation, rust

#113 fix KDA field for klv transactions
  packages/kos-mobile/src/lib.rs
  packages/kos/src/chains/klv/mod.rs
  packages/kos/src/chains/klv/models.rs
Labels: rust

#112 Bump version 0.2.12
  .github/actions/bump-version.sh
  Cargo.lock
  Cargo.toml
Labels: configuration

#114 Promote version
  .github/actions/bump-version.sh
  Cargo.lock
  Cargo.toml
  README.md
  packages/kos-mobile/src/lib.rs
  packages/kos/src/chains/klv/mod.rs
  packages/kos/src/chains/klv/models.rs
  packages/kos/src/chains/mod.rs
  packages/kos/src/chains/sol/mod.rs
  packages/kos/src/chains/sol/models.rs
Labels: documentation, rust, configuration

#115 export encrypt (default gcm) to wasm
  packages/kos-web/src/lib.rs
Labels: rust

#118 add kos-codec as a dependency
  Cargo.lock
  Cargo.toml
  packages/kos-codec/Cargo.toml
  packages/kos-codec/src/chains/ada/mod.rs
  packages/kos-codec/src/chains/mod.rs
  packages/kos-codec/src/chains/xrp/mod.rs
  packages/kos-codec/src/lib.rs
  packages/kos-mobile/Cargo.toml
  packages/kos-mobile/src/lib.rs
  packages/kos/src/chains/ada/mod.rs
  packages/kos/src/chains/apt/mod.rs
  packages/kos/src/chains/atom/mod.rs
  packages/kos/src/chains/bch/mod.rs
  packages/kos/src/chains/bnb/mod.rs
  packages/kos/src/chains/btc/mod.rs
  packages/kos/src/chains/egld/mod.rs
  packages/kos/src/chains/eth/mod.rs
  packages/kos/src/chains/icp/mod.rs
  packages/kos/src/chains/klv/mod.rs
  packages/kos/src/chains/mod.rs
  packages/kos/src/chains/sol/mod.rs
  packages/kos/src/chains/substrate/mod.rs
  packages/kos/src/chains/sui/mod.rs
  packages/kos/src/chains/trx/mod.rs
  packages/kos/src/chains/xrp/mod.rs
Labels: rust, configuration

#111 add xrp sign transaction and sign message
  .cargo/config.toml
  .vscode/settings.json
  Cargo.lock
  README.md
  deny.toml
  packages/kos-codec/Cargo.toml
  packages/kos-codec/src/chains/xrp/constants.rs
  packages/kos-codec/src/chains/xrp/mod.rs
  packages/kos-codec/src/chains/xrp/transactions/account_set.rs
  packages/kos-codec/src/chains/xrp/transactions/codec_helper.rs
  packages/kos-codec/src/chains/xrp/transactions/mod.rs
  packages/kos-codec/src/chains/xrp/transactions/payment.rs
  packages/kos-codec/src/chains/xrp/transactions/transaction_base.rs
  packages/kos-codec/src/chains/xrp/transactions/trust_set.rs
  packages/kos-codec/src/lib.rs
  packages/kos-mobile/src/lib.rs
  packages/kos-web/Cargo.toml
  packages/kos/src/chains/mod.rs
  packages/kos/src/chains/xrp/mod.rs
  packages/kos/src/crypto/secp256k1.rs
Labels: documentation, rust, configuration

#119 bump version 0.2.13
  Cargo.lock
  Cargo.toml
  packages/kos-web/Cargo.toml
  packages/kos-web/src/wallet.rs
Labels: rust, configuration

#120 Promote new version
  .cargo/config.toml
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  README.md
  deny.toml
  packages/kos-codec/Cargo.toml
  packages/kos-codec/src/chains/ada/mod.rs
  packages/kos-codec/src/chains/mod.rs
  packages/kos-codec/src/chains/xrp/constants.rs
  packages/kos-codec/src/chains/xrp/mod.rs
  packages/kos-codec/src/chains/xrp/transactions/account_set.rs
  packages/kos-codec/src/chains/xrp/transactions/codec_helper.rs
  packages/kos-codec/src/chains/xrp/transactions/mod.rs
  packages/kos-codec/src/chains/xrp/transactions/payment.rs
  packages/kos-codec/src/chains/xrp/transactions/transaction_base.rs
  packages/kos-codec/src/chains/xrp/transactions/trust_set.rs
  packages/kos-codec/src/lib.rs
  packages/kos-mobile/Cargo.toml
  packages/kos-mobile/src/lib.rs
  packages/kos-web/Cargo.toml
  packages/kos-web/src/lib.rs
  packages/kos-web/src/wallet.rs
  packages/kos/src/chains/ada/mod.rs
  packages/kos/src/chains/apt/mod.rs
  packages/kos/src/chains/atom/mod.rs
  packages/kos/src/chains/bch/mod.rs
  packages/kos/src/chains/bnb/mod.rs
  packages/kos/src/chains/btc/mod.rs
  packages/kos/src/chains/egld/mod.rs
  packages/kos/src/chains/eth/mod.rs
  packages/kos/src/chains/icp/mod.rs
  packages/kos/src/chains/klv/mod.rs
  packages/kos/src/chains/mod.rs
  packages/kos/src/chains/sol/mod.rs
  packages/kos/src/chains/substrate/mod.rs
  packages/kos/src/chains/sui/mod.rs
  packages/kos/src/chains/trx/mod.rs
  packages/kos/src/chains/xrp/mod.rs
  packages/kos/src/crypto/secp256k1.rs
Labels: documentation, rust, configuration

#116 Feat/kos hardware
  .github/workflows/pull-develop.yaml
  .github/workflows/pull-master-release.yaml
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  Makefile
  packages/kos-hardware/.gitignore
  packages/kos-hardware/Cargo.toml
  packages/kos-hardware/Makefile
  packages/kos-hardware/src/lib.rs
  packages/kos-hardware/src/models.rs
  packages/kos-mobile/Cargo.toml
  packages/kos-mobile/build_android.sh
  packages/kos-mobile/build_source.sh
  packages/kos-web/Cargo.toml
  packages/kos/Cargo.toml
  packages/kos/src/chains/icp/mod.rs
  packages/kos/src/chains/klv/mod.rs
  packages/kos/src/chains/sol/mod.rs
  packages/kos/src/chains/sol/models.rs
  packages/kos/src/chains/substrate/mod.rs
  packages/kos/src/chains/util.rs
  packages/kos/src/crypto/cipher.rs
  packages/kos/src/crypto/mod.rs
  packages/kos/src/crypto/secp256k1.rs
  packages/kos/src/lib.rs
Labels: rust, configuration

#122 Feat/add cosmos hub
  Cargo.lock
  README.md
  packages/kos-codec/Cargo.toml
  packages/kos-codec/src/chains/atom/mod.rs
  packages/kos-codec/src/chains/mod.rs
  packages/kos-codec/src/lib.rs
  packages/kos-mobile/src/lib.rs
  packages/kos-web/src/wallet.rs
  packages/kos/Cargo.toml
  packages/kos/src/chains/atom/mod.rs
  packages/kos/src/chains/mod.rs
  packages/kos/src/protos/generated/klv/proto.rs
  packages/kos/src/protos/generated/trx/protocol.rs
Labels: documentation, rust, configuration

#123 add kos-chains id for cosmos based chains
  packages/kos-mobile/src/lib.rs
  packages/kos/src/chains/atom/mod.rs
  packages/kos/src/chains/mod.rs
Labels: rust

#125 Promote new version
  .github/workflows/pull-develop.yaml
  .github/workflows/pull-master-release.yaml
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  packages/kos-codec/Cargo.toml
  packages/kos-codec/src/chains/atom/mod.rs
  packages/kos-codec/src/chains/mod.rs
  packages/kos-codec/src/lib.rs
  packages/kos-hardware/.gitignore
  packages/kos-hardware/Cargo.toml
  packages/kos-hardware/Makefile
  packages/kos-hardware/src/lib.rs
  packages/kos-hardware/src/models.rs
  packages/kos-mobile/Cargo.toml
  packages/kos-mobile/build_android.sh
  packages/kos-mobile/build_source.sh
  packages/kos-mobile/src/lib.rs
  packages/kos-web/Cargo.toml
  packages/kos-web/src/wallet.rs
  packages/kos/Cargo.toml
  packages/kos/src/chains/atom/mod.rs
  packages/kos/src/chains/icp/mod.rs
  packages/kos/src/chains/klv/mod.rs
  packages/kos/src/chains/mod.rs
  packages/kos/src/chains/sol/mod.rs
  packages/kos/src/chains/sol/models.rs
  packages/kos/src/chains/substrate/mod.rs
  packages/kos/src/chains/util.rs
  packages/kos/src/crypto/cipher.rs
  packages/kos/src/crypto/mod.rs
  packages/kos/src/crypto/secp256k1.rs
  packages/kos/src/lib.rs
  packages/kos/src/protos/generated/klv/proto.rs
  packages/kos/src/protos/generated/trx/protocol.rs
Labels: documentation, rust, configuration

#126 replace serde_json with tiny-json-rs
  packages/kos/src/chains/icp/mod.rs
Labels: rust
