Repository klever-io/kos-rs, pull requests merged in 2025-05, with the labels that each got.

#147 update version 0.2.19
  Cargo.lock
  Cargo.toml
Labels: configuration

#149 export kos tx types from codec
  packages/kos-codec/src/lib.rs
Labels: rust

#150 trx sign typed data
  Cargo.lock
  deny.toml
  packages/kos-codec/Cargo.toml
  packages/kos-codec/src/chains/eth/mod.rs
  packages/kos-codec/src/chains/trx/mod.rs
  packages/kos-codec/src/chains/trx/tip712.rs
  packages/kos-codec/src/lib.rs
  packages/kos/src/chains/eth/mod.rs
  packages/kos/src/chains/trx/mod.rs
Labels: rust, configuration

#152 Chore/add encode message on kos mobile
  packages/kos-codec/src/chains/trx/mod.rs
  packages/kos-codec/src/lib.rs
  packages/kos-mobile/src/lib.rs
Labels: rust

#155 remove prepare message
  packages/kos/src/chains/trx/mod.rs
Labels: rust

#153 Feat/icp secp256k1
  packages/kos-mobile/src/lib.rs
  packages/kos-mobile/src/models.rs
  packages/kos-web/src/models.rs
  packages/kos-web/src/wallet.rs
  packages/kos/Cargo.toml
  packages/kos/src/chains/icp/mod.rs
  packages/kos/src/chains/mod.rs
  packages/kos/src/chains/substrate/mod.rs
  packages/kos/src/lib.rs
Labels: rust, configuration

#156 Fix reports
  README.md
  packages/kos-go/kos_mobile/kos_mobile.go
  packages/kos-go/kos_mobile/kos_mobile.h
  packages/kos-go/lib_test.go
  packages/kos-mobile/android/lib/src/test/kotlin/uniffi/kos_mobile/KOSTest.kt
  packages/kos-mobile/ios/framework/KOSMobile/KOSMobileTests/KOSMobileTests.swift
  packages/kos-mobile/src/lib.rs
  packages/kos-web/src/lib.rs
  packages/kos/src/chains/mod.rs
  packages/kos/src/crypto/cipher.rs
Labels: documentation, rust

#158 update to version 0.2.20
  Cargo.lock
  Cargo.toml
Labels: configuration

#159 [MAIN] Promote 0.2.20
  .vscode/launch.json
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  deny.toml
  packages/kos-codec/Cargo.toml
  packages/kos-codec/src/chains/eth/mod.rs
  packages/kos-codec/src/chains/trx/mod.rs
  packages/kos-codec/src/chains/trx/tip712.rs
  packages/kos-codec/src/lib.rs
  packages/kos-go/go.mod
  packages/kos-go/go.sum
  packages/kos-go/kos_mobile/kos_mobile.go
  packages/kos-go/kos_mobile/kos_mobile.h
  packages/kos-go/lib_test.go
  packages/kos-go/number_test.go
  packages/kos-go/run_tests.sh
  packages/kos-go/signer_test.go
  packages/kos-mobile/android/lib/src/test/kotlin/uniffi/kos_mobile/KOSTest.kt
  packages/kos-mobile/ios/framework/KOSMobile/KOSMobileTests/KOSMobileTests.swift
  packages/kos-mobile/src/lib.rs
  packages/kos-mobile/src/models.rs
  packages/kos-web/src/lib.rs
  packages/kos-web/src/models.rs
  packages/kos-web/src/wallet.rs
  packages/kos/Cargo.toml
  packages/kos/src/chains/eth/mod.rs
  packages/kos/src/chains/icp/mod.rs
  packages/kos/src/chains/mod.rs
  packages/kos/src/chains/substrate/mod.rs
  packages/kos/src/chains/trx/mod.rs
  packages/kos/src/crypto/cipher.rs
  packages/kos/src/lib.rs
Labels: documentation, rust, configuration

#157 Mobile profile
  Cargo.toml
  README.md
  packages/kos-mobile/Cargo.toml
  packages/kos-mobile/build_android.sh
  packages/kos-mobile/build_ios.sh
  packages/kos/src/chains/icp/mod.rs
  packages/kos/src/chains/trx/mod.rs
  packages/kos/src/chains/util.rs
Labels: documentation, rust, configuration

#162 [MAIN] Build Fix
  Cargo.toml
  README.md
  packages/kos-mobile/Cargo.toml
  packages/kos-mobile/android/lib/src/test/kotlin/uniffi/kos_mobile/KOSTest.kt
  packages/kos-mobile/build_android.sh
  packages/kos-mobile/build_ios.sh
  packages/kos-mobile/ios/framework/KOSMobile/KOSMobileTests/KOSMobileTests.swift
  packages/kos/src/chains/icp/mod.rs
  packages/kos/src/chains/trx/mod.rs
  packages/kos/src/chains/util.rs
Labels: documentation, rust, configuration

#163 update version 0.2.21
  Cargo.lock
  Cargo.toml
Labels: configuration

#164 [MAIN] update version 0.2.21
  Cargo.lock
  Cargo.toml
Labels: configuration

#165 add iterations as parameter when trying to encrypt or decrypt
  packages/kos-mobile/android/lib/src/test/kotlin/uniffi/kos_mobile/KOSTest.kt
  packages/kos-mobile/ios/framework/KOSMobile/KOSMobileTests/KOSMobileTests.swift
  packages/kos-mobile/src/lib.rs
  packages/kos-web/src/lib.rs
  packages/kos/src/crypto/cipher.rs
Labels: rust

#166 update version to 0.2.22
  Cargo.lock
  Cargo.toml
Labels: configuration

#167 update version 0.2.22
  Cargo.lock
  Cargo.toml
  packages/kos-mobile/android/lib/src/test/kotlin/uniffi/kos_mobile/KOSTest.kt
  packages/kos-mobile/ios/framework/KOSMobile/KOSMobileTests/KOSMobileTests.swift
  packages/kos-mobile/src/lib.rs
  packages/kos-web/src/lib.rs
  packages/kos/src/crypto/cipher.rs
Labels: rust, configuration

#170 update signed raw data after signing
  .gitignore
  packages/kos-codec/src/chains/eth/mod.rs
  packages/kos-codec/src/chains/eth/models.rs
  packages/kos-mobile/build_android.sh
  packages/kos-mobile/src/lib.rs
Labels: rust
